body /deep/ * {
    /* This is required for correct sizing of flex items because we rely
     * on an old version of the flexbox spec.
     * Longer-term we should remove this, see crbug.com/473625 */
    min-width: 0;
    min-height: 0;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
}

html /deep/ .component-root {
    cursor: default;
    font-family: Lucida Grande, sans-serif;
    font-size: 12px;
    tab-size: 4;
    -webkit-user-select: none;
    color: #222;
}

html /deep/ .platform-linux {
    color: rgb(48, 57, 66);
    font-family: Ubuntu, Arial, sans-serif;
}

html /deep/ .platform-mac {
    color: rgb(48, 57, 66);
    font-family: 'Lucida Grande', sans-serif;
}

html /deep/ .platform-windows {
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

html /deep/ .platform-mac .monospace,
html /deep/ .platform-mac.monospace,
html /deep/ .platform-mac .source-code,
html /deep/ .platform-mac.source-code {
    font-size: 11px !important;
    font-family: Menlo, monospace;
}

html /deep/ .platform-windows .monospace,
html /deep/ .platform-windows.monospace,
html /deep/ .platform-windows .source-code,
html /deep/ .platform-windows.source-code {
    font-size: 12px !important;
    font-family: Consolas, Lucida Console, monospace;
}

html /deep/ .platform-linux .monospace,
html /deep/ .platform-linux.monospace,
html /deep/ .platform-linux .source-code
html /deep/ .platform-linux.source-code {
    font-size: 11px !important;
    font-family: dejavu sans mono, monospace;
}

body /deep/ .source-code {
    font-family: monospace;
    font-size: 11px !important;
    white-space: pre-wrap;
}

body /deep/ * {
    box-sizing: border-box;
}

body /deep/ :focus {
    outline: none;
}

body /deep/ img {
    -webkit-user-drag: none;
}

body /deep/ iframe,
body /deep/ a img {
    border: none;
}

body /deep/ .fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body /deep/ iframe.fill {
    width: 100%;
    height: 100%;
}

body /deep/ .view {
    position: relative;
    flex: auto;
}

body /deep/ .hbox {
    display: flex;
    flex-direction: row !important;
    position: relative;
}

body /deep/ .vbox {
    display: flex;
    flex-direction: column !important;
    position: relative;
}

body /deep/ .flex-auto {
    flex: auto;
}

body /deep/ .flex-none {
    flex: none;
}

body /deep/ .flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

body /deep/ iframe.view {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

body /deep/ .hidden {
    display: none !important;
}

body /deep/ .monospace {
    font-size: 10px !important;
    font-family: monospace;
}

body /deep/ .highlighted-search-result {
    border-radius: 1px;
    padding: 1px;
    margin: -1px;
    background-color: rgba(255, 255, 0, 0.8);
}

body /deep/ .link {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(17, 85, 204);
}

body /deep/ button,
body /deep/ input,
body /deep/ select {
    font-family: inherit;
    font-size: inherit;
}

body /deep/ input[type="search"]:focus,
body /deep/ input[type="text"]:focus {
    outline: auto 5px -webkit-focus-ring-color;
}


html /deep/ .highlighted-search-result.current-search-result {
    border-radius: 1px;
    padding: 1px;
    margin: -1px;
    background-color: rgba(255, 127, 0, 0.8);
}

.overflow-auto {
    overflow: auto;
}
