/*
 * Copyright (C) 2006, 2007, 2008 Apple Inc.  All rights reserved.
 * Copyright (C) 2009 Anthony Ricaud <rik@webkit.org>
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 *
 * 1.  Redistributions of source code must retain the above copyright
 *     notice, this list of conditions and the following disclaimer.
 * 2.  Redistributions in binary form must reproduce the above copyright
 *     notice, this list of conditions and the following disclaimer in the
 *     documentation and/or other materials provided with the distribution.
 * 3.  Neither the name of Apple Computer, Inc. ("Apple") nor the names of
 *     its contributors may be used to endorse or promote products derived
 *     from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY APPLE AND ITS CONTRIBUTORS "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL APPLE OR ITS CONTRIBUTORS BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF
 * THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

.sidebar-pane {
    position: relative;
}

.sidebar-pane > .body {
    position: relative;
    display: none;
}

.sidebar-pane > .body .info {
    text-align: center;
    font-style: italic;
    padding: 6px;
    color: #888;
}

.sidebar-pane.visible > .body {
    display: block;
}

.sidebar-pane .section .properties-tree {
    padding-left: 16px;
}

.sidebar-tabbed-pane .tabbed-pane-header {
    border-bottom: 1px solid rgb(202, 202, 202);
    background-color: #eee;
}

.sidebar-pane-stack > .sidebar-pane.visible:nth-last-of-type(1) {
    border-bottom: 1px solid rgb(189, 189, 189);
}

.sidebar-pane-title {
    position: relative;
    background-color: #eee;
    height: 20px;
    padding: 0 5px;
    border-top: 1px solid rgb(189, 189, 189);
    border-bottom: 1px solid rgb(189, 189, 189);
    line-height: 18px;
    margin-top: -1px;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-pane-title:active {
    background-color: rgb(204, 204, 204);
    border-top: 1px solid rgb(178, 178, 178);
    border-bottom: 1px solid rgb(178, 178, 178);
}

.sidebar-pane-title::before {
    background-image: url(Images/toolbarButtonGlyphs.png);
    background-size: 320px 144px;
    opacity: 0.5;
    float: left;
    width: 11px;
    height: 11px;
    margin-right: 2px;
    content: "a";
    color: transparent;
    position: relative;
    top: 3px;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
.sidebar-pane-title::before {
    background-image: url(Images/toolbarButtonGlyphs_2x.png);
}
} /* media */

.sidebar-pane-title::before {
    background-position: -4px -96px;
}

.sidebar-pane-title.expanded::before {
    background-position: -20px -96px;
}

.sidebar-pane-toolbar {
    line-height: 18px;
    left: 0;
    right: 4px;
    top: 0;
    height: 20px;
    position: absolute;
    pointer-events: none;
}

.sidebar-pane-toolbar > * {
    pointer-events: auto;
}

.sidebar-pane-toolbar > .pane-title-button,
.sidebar-pane-toolbar > label {
    float: right;
    height: 16px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    margin: 1px 0 0 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

.sidebar-pane-toolbar > .pane-title-button {
    width: 23px;
    color: transparent;
}

.sidebar-pane-toolbar > .pane-title-button:hover {
    background-position: -23px 0;
}

.sidebar-pane-toolbar > .pane-title-button:active,
.sidebar-pane-toolbar > .pane-title-button.toggled {
    background-position: -46px 0;
}

.sidebar-pane-toolbar > .pane-title-button.add {
     background-image: url(Images/paneAddButtons.png);
     position: relative;
 }

.sidebar-pane-toolbar > .pane-title-button.refresh {
    background-image: url(Images/paneRefreshButtons.png);
}

.sidebar-pane-toolbar > label.scripts-callstack-async {
    margin-right: 5px;
    line-height: 16px;
}

.section > .header input[type=checkbox] {
    height: 1em;
    width: 1em;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0.25em;
    vertical-align: bottom;
}

.hidden-callframes-message {
    text-align: center;
    font-style: italic;
    padding: 4px;
    color: #888;
    background-color: #FFFFC2;
}

.sidebar-pane-button-new-rule {
    background-image: url(Images/paneAddButtons.png);
    background-position: 0 0;
    position: absolute;
    height: 16px;
    width: 23px;
    right: 10px;
    bottom: 1px;
    visibility: hidden;
}

.styles-section.matched-styles:not(.read-only):hover .sidebar-pane-button-new-rule {
    visibility: visible;
}

.sidebar-pane-button-new-rule:hover {
    background-position: -23px 0;
}
