<p>HTMLVideoElement.webkitEnterFullScreen() in an iframe requires the allowfullscreen attribute</p>
<script src="full-screen-test.js"></script>
<script src="../media/media-file.js"></script>
<script>

function canplaythrough() {
    var frame = document.getElementById('frame');

    runWithKeyDown(function() {
        var video = frame.contentDocument.getElementsByTagName('video')[0];
        video.webkitEnterFullScreen();
    });
}

function runTest() {
    var frame = document.getElementById('frame');

    waitForEvent(frame.contentDocument, 'webkitfullscreenerror', function() {
            endTest();
    });

    var video = frame.contentDocument.getElementsByTagName('video')[0];
    var mediaFile = findMediaFile("video", "../../media/content/test");
    video.src = mediaFile;
    video.addEventListener('canplaythrough', canplaythrough);
}
</script>
<iframe id="frame" src="resources/legacy.html" onload="runTest()" width="336" height="256">
</iframe>
