/*
 * Copyright (C) 2011 Google Inc. All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 * 1. Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *
 * 2. Redistributions in binary form must reproduce the above
 * copyright notice, this list of conditions and the following disclaimer
 * in the documentation and/or other materials provided with the
 * distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY GOOGLE INC. AND ITS CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL GOOGLE INC.
 * OR ITS CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

.shadow-split-view {
    display: flex;
    overflow: hidden;
}

.shadow-split-view-contents {
    display: flex;
    position: relative;
    flex-direction: column;
}

.shadow-split-view-sidebar {
    flex: none;
}

.shadow-split-view-main, .shadow-split-view-sidebar.maximized {
    flex: auto;
}

.shadow-split-view.hbox > .shadow-split-view-resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    z-index: 500;
}

.shadow-split-view.vbox > .shadow-split-view-resizer {
    position: absolute;
    left: 0;
    right: 0;
    height: 6px;
    z-index: 500;
}

.shadow-split-view.hbox.shadow-split-view-first-is-sidebar {
    flex-direction: row-reverse !important;
}

.shadow-split-view.vbox.shadow-split-view-first-is-sidebar {
    flex-direction: column-reverse !important;
}

.shadow-split-view-resizer-border {
    pointer-events: none;
}

.shadow-split-view.vbox > .shadow-split-view-sidebar:not(.maximized) {
    border: 0;
    border-top: 1px solid rgb(64%, 64%, 64%);
}

.shadow-split-view.vbox.shadow-split-view-first-is-sidebar > .shadow-split-view-sidebar:not(.maximized) {
    border: 0;
    border-bottom: 1px solid rgb(64%, 64%, 64%);
}

.shadow-split-view.hbox > .shadow-split-view-sidebar:not(.maximized) {
    border: 0;
    border-left: 1px solid rgb(64%, 64%, 64%);
}

.shadow-split-view.hbox.shadow-split-view-first-is-sidebar > .shadow-split-view-sidebar:not(.maximized) {
    border: 0;
    border-right: 1px solid rgb(64%, 64%, 64%);
}

.shadow-split-view button.sidebar-show-hide-button {
    position: absolute;
    -webkit-mask-image: url(Images/toolbarButtonGlyphs.png);
    -webkit-mask-size: 320px 144px;
    height: 16px;
    width: 16px;
    border: none;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
}

.shadow-split-view button.sidebar-show-hide-button:disabled {
    background-color: rgba(0, 0, 0, 0.35);
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
.shadow-split-view button.sidebar-show-hide-button {
    -webkit-mask-image: url(Images/toolbarButtonGlyphs_2x.png);
}
} /* media */

.shadow-split-view button.left-sidebar-show-hide-button,
.shadow-split-view button.top-sidebar-show-hide-button {
    top: 3px;
    left: 4px;
}

.material.shadow-split-view button.left-sidebar-show-hide-button,
.material.shadow-split-view button.top-sidebar-show-hide-button {
    top: 5px;
}

.shadow-split-view button.left-sidebar-show-hide-button:active,
.shadow-split-view button.top-sidebar-show-hide-button:active {
    top: 4px;
    left: 3px;
}

.shadow-split-view button.right-sidebar-show-hide-button {
    top: 3px;
    right:2px;
}

.material.shadow-split-view button.right-sidebar-show-hide-button {
    top: 5px;
    right: 5px;
}

.shadow-split-view button.right-sidebar-show-hide-button:active {
    top: 4px;
    right: 1px;
}

.shadow-split-view button.bottom-sidebar-show-hide-button {
    bottom: 1px;
    right: 1px;
}

.material.shadow-split-view button.bottom-sidebar-show-hide-button {
    bottom: 3px;
    right: 3px;
}

.shadow-split-view button.bottom-sidebar-show-hide-button:active {
    bottom: 0;
    right: 0;
}

.shadow-split-view button.left-sidebar-show-hide-button.toggled-show {
    -webkit-mask-position: -168px -76px; /* |> */
}

.shadow-split-view button.left-sidebar-show-hide-button.toggled-hide {
    -webkit-mask-position: -199px -76px; /* |< */
}

.shadow-split-view button.right-sidebar-show-hide-button.toggled-show {
    -webkit-mask-position: -296px -76px; /* <| */
}

.shadow-split-view button.right-sidebar-show-hide-button.toggled-hide {
    -webkit-mask-position: -264px -76px; /* >| */
}

.shadow-split-view button.top-sidebar-show-hide-button.toggled-show {
    -webkit-mask-position: -168px -76px; /* |> */
    transform: rotate(90deg);
}

.shadow-split-view button.top-sidebar-show-hide-button.toggled-hide {
    -webkit-mask-position: -199px -76px; /* |< */
    transform: rotate(90deg);
}

.shadow-split-view button.bottom-sidebar-show-hide-button.toggled-show {
    -webkit-mask-position: -296px -76px; /* <| */
    transform: rotate(90deg);
}

.shadow-split-view button.bottom-sidebar-show-hide-button.toggled-hide {
    -webkit-mask-position: -264px -76px; /* >| */
    transform: rotate(90deg);
}
