.flame-chart-main-pane {
    overflow: hidden;
}

.flame-chart-marker-highlight-element {
    position: absolute;
    top: 0;
    height: 20px;
    width: 4px;
    margin: 0 -2px;
    content: "";
    display: block;
}

.flame-chart-highlight-element {
    background-color: black;
    position: absolute;
    opacity: 0.2;
    pointer-events: none;
}

.flame-chart-selected-element {
    position: absolute;
    pointer-events: none;
    border-color: rgb(56, 121, 217);
    border-width: 2px;
    border-style: solid;
    background-color: rgba(56, 121, 217, 0.2);
}

.flame-chart-v-scroll {
    flex: 0 0 14px;
    overflow-x: hidden;
}

.platform-mac .flame-chart-v-scroll {
    position: absolute;
    width: 14px;
    top: 0;
    right: 0;
    bottom: 0;
}

.flame-chart-selection-overlay {
    position: absolute;
    z-index: 100;
    background-color: rgba(56, 121, 217, 0.3);
    border-color: rgb(16, 81, 177);
    border-width: 0 1px;
    border-style: solid;
    pointer-events: none;
    top: 0;
    bottom: 0;
    text-align: center;
}

.flame-chart-selection-overlay .time-span {
    white-space: nowrap;
}

.flame-chart-entry-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    pointer-events: none;
}
