/*
 * Copyright (c) 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.animation-node-row {
    width: 100%;
    display: flex;
    border-bottom: 1px dashed #ccc;
}

.animation-node-description {
    display: inline-block;
    min-width: 200px;
    max-width: 200px;
    padding-left: 15px;
    overflow: hidden;
    border-right: 1px solid #ccc;
    position: relative;
    transform-style: preserve-3d;
    line-height: 40px;
}

.animation-node-row:nth-child(odd) {
    background-color: #f6f6f6;
}

.animation-timeline-row {
    height: 40px;
    position: relative;
}

path.animation-keyframe {
    fill-opacity: 0.3;
}

line.animation-line {
    stroke-width: 3;
    stroke-linecap: round;
    fill: none;
}

line.animation-delay-line {
    stroke-width: 2;
    stroke-dasharray: 6, 4;
}

circle.animation-endpoint {
    stroke-width: 3;
}

circle.animation-keyframe-point {
    stroke-width: 3;
    fill: white;
}

.animation-name {
    position: absolute;
    top: 15px;
    color: #333;
    text-align: center;
    margin-left: -8px;
}

.animation-timeline-header {
    height: 44px;
    border-bottom: 1px solid #ccc;
}

.animation-control-replay {
    float: right;
}

.animation-control-replay circle {
    stroke: #666;
    stroke-width: 2px;
    fill: none;
}

.animation-control-replay path {
    fill: #666;
}

.animation-control-replay:hover circle {
    stroke: #333;
}

.animation-control-replay:hover path {
    fill: #333;
}

.animation-controls {
    width: 200px;
    max-width: 200px;
    padding: 10px;
    height: 100%;
    border-right: 1px solid #ccc;
    line-height: 22px;
}

.animation-timeline-markers {
    height: 100%;
    width: calc(100% - 200px);
    display: inline-block;
}

.animation-time-overlay {
    background-color: black;
    opacity: 0.05;
    position: absolute;
    height: 100%;
    width: 100%;
}

.view.component-root.platform-linux.vbox {
    overflow: hidden;
}

input.animation-playback-slider {
    float: right;
    width: 63px;
    margin-right: 8px;
}

.animation-playback-label {
    float: right;
    margin-right: 8px;
    line-height: 24px;
    width: 34px;
}

.animation-scrubber {
    opacity: 1;
    position: absolute;
    left: 200px;
    height: calc(100% - 43px);
    width: calc(100% - 200px);
    top: 43px;
    border-left: 1px solid rgba(0,0,0,0.5);
}

.animation-scrubber-head {
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 23px;
    color: white;
    line-height: 23px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    top: -29px;
    left: -25px;
    font-size: 10px;
    visibility: visible;
}

.animation-timeline-capturing > .animation-scrubber-head {
    visibility: hidden;
}

.animation-timeline-end > .animation-scrubber-head {
    visibility: visible;
}

.animation-timeline-end > .animation-scrubber-arrow,
.animation-timeline-capturing > .animation-scrubber-arrow {
    visibility: hidden;
}

.animation-scrubber-arrow {
    width: 21px;
    height: 25px;
    position: absolute;
    top: -6px;
    left: -7px;
    -webkit-clip-path: polygon(0 0, 6px 6px, 12px 0px, 0px 0px);
    background-color: rgba(0, 0, 0, 0.5);
}

.animation-timeline-timer {
    width: 22px;
    height: 22px;
    position: relative;
    top: -51px;
    left: -11px;
    border-radius: 22px;
    border: 1px solid #7B7B7B;
    visibility: hidden;
    background-color: white;
}

.animation-timeline-capturing > .animation-timeline-timer {
    visibility: visible;
}

.animation-timeline-end > .animation-timeline-timer {
    visibility: hidden;
}

.timer-hemisphere {
    width: 50%;
    height: 100%;
    position: absolute;
    background: #808080;
}

.timer-spinner {
    border-radius: 20px 0 0 20px;
    z-index: 200;
    border-right: none;
    transform-origin: 10px 10px;
}

.timer-filler {
    border-radius: 0 20px 20px 0;
    z-index: 100;
    border-left: none;
    left: 50%;
    opacity: 0;
}

.timer-mask {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 300;
    opacity: 1;
    background: white;
    border-radius: 20px 0 0 20px;
}

svg.animation-timeline-grid {
    position: absolute;
    left: 200px;
}

rect.animation-timeline-grid-line {
    fill: #ccc;
}

.animation-timeline-row > svg.animation-ui {
    position: absolute;
}

.animation-node-timeline {
    flex-grow: 1;
}

.animation-node-description > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-height: 100%;
}

.animation-node-row.animation-node-removed {
    background-color: #fff0f0;
}

svg.animation-ui g:first-child {
    opacity: 1;
}

.animation-tail-iterations {
    opacity: 0.5;
}

svg.animation-ui.animation-ui-canceled {
    -webkit-filter: grayscale(100%) blur(1px);
    transition: -webkit-filter 100ms cubic-bezier(0, 0, 0.2, 1);
}

.animation-keyframe-step line {
    stroke-width: 2;
    stroke-opacity: 0.3;
}

text.animation-timeline-grid-label {
    font-size: 10px;
    fill: #999;
}
